@import "tailwindcss";


/* Настройки для Chrome, Edge и Safari */
::-webkit-scrollbar {
  width: 8px;
  /* Ширина вертикального скроллбара */
  height: 8px;
  /* Высота горизонтального скроллбара */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
  /* Почти прозрачный трек */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  /* Цвет ползунка (полупрозрачный белый) */
  backdrop-filter: blur(4px);
  /* Эффект блюра на самом ползунке */
  border-radius: 10px;
  border: 2px solid transparent;
  /* Отступ от краев трека */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
  /* Яркость при наведении */
}

/* Настройки для Firefox */
* {
  scrollbar-width: thin;
  /* Тонкий скроллбар */
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  /* Цвет ползунка и трека */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Твои кастомные стили, если нужны */
body {
  margin: 0;
  background-color: #08080a;
}


[data-rbd-draggable-context-id] {
  transition: none !important;
}